---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad, visitor]
    width: 8
    image: true
- - roles: [alum]
    width: 7
    image: false
  - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false

---

<div class="jumbotron">
    <p>
        The <b>Casual Causal Group</b> at UC Berkeley works on causal
        inference problems motivated by a wide range of applications, including
        epidemiology, clinical trials, public policy, and many others. This
        includes research on theory and methods for causal inference such as
        semiparametric theory, randomization inference, and robust statistics,
        as well as domain-specific applied work. Our faculty and students,
        primarily based in the Statistics Department, also maintain strong
        connections with other departments such as Biostatistics, Political
        Science, and Public Policy.
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/news.html">See all posts...&hellip;</a>
        </p>
    {% endif %}
</section>

<!-- <section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section> -->

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
